[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

click = "*"
requests = "*"
halo = "*"
colorama = "*"
pyperclip = "*"
"beautifulsoup4" = "*"
lxml = "*"
spinners = "*"


[dev-packages]

Sphinx = "*"
sphinx-click = "*"
"flake8" = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
"pytest-flake8" = "*"
ptpython = "*"
CProfileV = "*"


[requires]

